a.c1 { background: #fafaff; color: #006; }
a.c2 { background: #ffe; color: #003; }
a.c3 { background: #ffc; color: #003; }
a.c4 { background: #fea; color: #000; }
a.c5 { background: #fdb; color: #200; }
a.c6 { background: #fcc; color: #300; }
a.c7, a.c8, a.c9, a.c10 { background: #fbb; color: #500; }
