@import "~normalize.css/normalize.css";

body {
  background: #faf7ff;
  color: #444030;
  font: Helvetica Neue, Helvetica, Arial;
}

#content {
  margin: 1em;
}

ul.path {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;

  li {
    display: inline-block;
    padding: 0;
    padding-right: 0.25em;
  }
}
