.riddle-bar {
  @extend %dark-box;

  .riddle-status {
    display: flex;
    justify-content: space-between;

    strong { color: white; font-weight: bold; }
    .goal {}
    .score {
      text-align: right;
    }
  }
}
