$zTopContent: 10;

.fixed-top {
  position: relative;
  padding: 0;
  width: 100%;
  z-index: $zTopContent;
  background: $background;
  
  &.is-glued-to-top {
    position: fixed;
    top: 0; left: 0;
  }

  > div {
    width: $main-width;
    margin: 0 auto;
  }
}

.main-content {
  position: relative;
  top: 0;

  width: $main-width;
  margin: 0 auto;
}
