$main-width: 720px;

$background: #eef;
$text-color: #444030;

$primary-font: "PT Sans", Helvetica Neue, Helvetica, Arial;

$dark-back: #335;
$dark-text-color: #8ac;
$dark-highlight-color: #fff;

$light-back: #fff;
$light-text-color: #000;
$light-highlight-color: #000;
